@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.snip1519 {
  font-family: 'Roboto', Arial;
  position: relative;
  overflow: hidden; 
  min-width: 400px;
  max-width: 400px;
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  border-top: 5px solid #086e75;
  text-align: center;
  font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 600;
    color: #362F25;
    
    
}
html {
    scroll-behavior: smooth;
 }
body {
    background:#f5f5f5;
    min-height:200vh;
    margin:0;
    overflow-x:hidden;
    

}
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   transition: 0.6s;
   padding: 30px 100px; 
   z-index: 1000000;
   overflow: hidden;
}
header.sticky {
    padding: 2px 100px;  
    background: #fff;
}
header.logo {
    position: relative;
    width: 20px;
    height: 20px;
    transition: 0.6s;
}
header img.logo {
    height: 90px;
    width: 90px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
    font-size: 20px;
   
}
header ul li a {
    position:relative;
    color: #f5f5f5;
    margin: 0 20px;
    text-decoration: none;
    font-weight:500;
}
.banner {
    position: relative;
    width:100%;
    height: 100vh;
    background: #086e75;
    background-size: cover;
    display: flex;
    overflow:hidden;
    border-radius: 3px;
}
header.sticky ul li a {
    color: #000;
    
}
.colm-1 {
    position: relative;
    width: 100%;
    top: 28%;
    height: 40vh;
    align-items:flex-start ;
    
    
}
.main-tag {
    width: 40rem;
    overflow: hidden;
}
.avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 256px;
    width: 256px;
    margin-left: 40%;
    
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    width: auto;
    height: auto;
    
}
.avatar.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;
}
.colm-1 {
    margin-top: 5%;
    margin-right: 10px;
}
.avatar-img {
    margin-top: 3%;
    width: 80vw;
    margin-right: 50px;
    margin-left: 20px;
}
.colm-1 h1, h3, h4 {
    color: #ffff;
    
}
.colm-1 h1 {
    font-size: 2.75rem;
    font-weight: 900;    
}
.colm-1 h3 {
    font-size: 30px;
    font-weight: 500;
}

.tagline {
    font-weight: 700;
}
.subheading {
    font-weight: 400;
}
.socials {
    padding-top: 50px;
}
.socials ul li {
    display: inline;
    padding: 50px;
    width: 250px;
    z-index: 3;
}
.profile {
    max-width: 100vw;
    padding: 5rem;
    position: relative;
    overflow: hidden;
    height: 90vh;
    background-color: #fff  ;
}
.prof-heading {
    padding: 3px;
    font-weight: 600;
    float: right;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
}
.prof-container {
    margin-top: 5rem;
    width: 100%;
    height: 60%;
    display: flex;
    
}
.about-me {
    margin-left: 10rem;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', 'san serif';
    padding: 10px;
    width: 40vw;
    line-height: 3rem;
    max-height: 30rem;
    
}
.blob {
    padding-left: 1rem;
    margin: auto;
    position: relative;
    z-index: 10000;
    width: 40rem;
    height: 40rem;
        
}
.skills {
    margin-top: 5rem;
    padding: 10px   ;
    overflow: hidden;
    display:inline;
    max-width: 10rem;
}
.skill-subheading {
    width: 400px;
    margin-top: 2rem;
    font-weight: 500;
}
.skills ul li{
display: inline   ;
text-decoration: none;
margin-left: 5rem;
}
.tech-list li {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}
.snip1519 *,
.snip1519 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1519 figcaption {
  padding: 5% 10% 5% 10%;
  margin: 0;
 
}

.snip1519 i {
  font-size: 54px;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 20px;
  background-color: #3F3E55;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
  display: inline-block;
}

.snip1519 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 10px 0;
}

.snip1519 p {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 25px
}

.snip1519 .button {
  text-decoration: none;
  color: #777;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.snip1519 .button:before {
  background-color: #086e75;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: 0;
}

.snip1519 .button:hover {
  color: #fff;
}

.snip1519 .button:hover:before {
  top: 0;
  opacity: 1;
}
figure.snip1519 {
    margin: auto;
    padding-top: 20px;
}
.iconify { width: 80px; height: 80px; }
.proj-row1 {
    display: flex;
    margin-left: 50%;
    width: 85vw;
    max-height: 60vh;
    justify-content: space-around;
    margin-top: 10px;
    padding:10px;
    overflow: hidden;
}
.proj-row2 {
    display: flex;
    width: 85vw;
    margin: auto;
    justify-content: space-around;
    margin-top: 100px;
    padding: 5px;
    overflow: hidden;
}
.proj-list li  {
    margin: 5rem;
    margin-top: 10px;
    overflow: hidden;
}

.mw-heading {
    width: 150px;
    height: 100px;
    display: inline-block;
    margin-left: 45%;
}
.mw-heading h2 {
    padding-top: 10px;
}
.my-work {
    margin-top: 1rem;
    position: relative;
    width: 100vw;
}

/*=========contact form css==================*/
.contact-form{
    background: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(59, 61, 60, 0.3) 0px 30px 60px -30px;
}
.row {
    width: 100%;
    display: flex;
}
.row > div {
    flex:50%;
    display: inline-block;

}
.contact {
    padding:1rem ;
    background-color: #fff;
    position: relative;
}
.contact-form .form-control{
    border-radius:0.rem;
    height: 2rem;
    margin: 18px;
    padding: 20px;
    width: 70%;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 10%;
    margin-top: -3%;
    transform: rotate(20deg);
}
.contact-form form{
    padding: 10%;
    margin-top: 5%;
}

.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #086e75;
}
.buttonContact > input {
    width: 30%;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 0.8rem;
    padding: 1%;
    margin: 20px;
    margin-top: 50px;
    background: #086e75;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.js-scrollable {
    top: 0;
}
.btnContactSubmit 
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    border: none;
    cursor: pointer;
}


/*Footer css*/

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;

font-size:medium ;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:#f9f9f9;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:#f9f9f9;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}
.copyright {
    margin: auto;
    color: #fff;
    letter-spacing: 1px;
    
}
@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}